[user]
  name = Canale0107
  email = 69461959+Canale0107@users.noreply.github.com

[init]
  defaultBranch = main

[core]
  editor = code --wait
  pager = delta
  excludesfile = ~/.gitignore_global

[delta]
  syntax-theme = Dracula
  features = decorations
  navigate = true
  line-numbers = true
  whitespace-error-style = none